body{
    padding: 32px;
    background:linear-gradient(150deg, #c9f7e1, #e8fff4);
    font-family: monospace;
}

.okvir{
    max-width: 900px;
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    padding: 34px;
    border: 2px;
    box-shadow: 14px 20px rgba(58, 53, 53, 0.1);
}

h1{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 34px;
    color: #1e6b4f;
}

.podnaslov{
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.7;
    color: #2e5f4b;
}

.jednobojno{
    font-size: 15px;
    background-color: lavenderblush;
    border-radius: 20px;
    margin-top: 18px;
    border: 1px;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 14px 20px rgba(58, 53, 53, 0.1);
    background-color: #e9fff5;
}

.gradijent{
    font-size: 15px;
    background-color: lavenderblush;
    border-radius: 20px;
    margin-top: 18px;
    border: 1px;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 14px 20px rgba(58, 53, 53, 0.1);
    background:linear-gradient(90deg, #7ee0b2, #c8ffe8);
}

.slika{
    font-size: 15px;
    background-color: lavenderblush;
    border-radius: 20px;
    margin-top: 18px;
    border: 1px;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 14px 20px rgba(58, 53, 53, 0.1);
    background-image:url("pozadina.jpg");
    background-size: cover;
    background-position: center;
}

h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 34px;
    color: #1e6b4f;
}

.tekst{
    background: rgba(5, 74, 11, 0.7);
    margin: 0;
    line-height: 1.75;
}

.naglasak{
    color: #0b7a55;
    background: rgba(11, 122, 85, 0.14);
    text-decoration: dotted;
    font-weight: bolder;
    padding: 4px;
    border-radius: 8px;
}

.overlay{
    background: rgba(255,255,255,0.70);
    border-radius: 16px;
    padding: 18px;
    border: 1px;
}