body {
  margin: 0;
  min-height: 900px;
  background: LightGray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #000000;
  padding: 30px;
}

.pozadina {
  width: min(950px, 100%);
  background-color: LightGray;
  border-radius: 18px;
  padding: 26px;
  box-shadow: 0 12px 35px LightGray;
  border-top: 10px solid DodgerBlue;;
  border-bottom: 10px solid DodgerBlue;;
  border-right: 10px solid DodgerBlue;;
  border-left: 10px solid DodgerBlue;;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 32px;        
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}

h2 {
  margin: 0;
  font-size: 16px;        
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}


table {
  width: 100%;
  border-collapse: separate;
  margin: 1 auto;
  text-align: center;
  padding: 24px;
  background-color: LightGray;
  box-shadow: rgb(121, 134, 145);
  overflow: hidden;
}

th {
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

td {
  background-color: #c0c0c0;
  padding: 12px;
  border-radius: 8px;
  color: #000000
}

tr:hover td {
    transform: scale(1.10);
    background-color: rgb(141, 141, 141);
    color: #f8f8f8;
    transition: 0.5s;
}

.posebna {
    color: dodgerblue;
}

.posebna:hover td {
    transform: scale(1.10);
    background-color: dodgerblue;
    color: #f8f8f8;
    transition: 0.5s;
}

.potpis {
  text-align: right;
  margin-top: 12px;
  font-style: italic;
  color: #575757;
}